<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>Backbone.js</title>
	<style type="text/css">
		.completed {
			text-decoration: line-through;
			color: gray;
		}
	</style>
</head>
<body>

<h1>タスク</h1>

<!--タスク追加フォームを設置-->
<form id="addTask" action="">
	<input type="text" id="title"/>
	<input type="submit" value="追加"/>
</form>

<div id="tasks"></div>

<script type="text/template" id="task-template">
	<input type="checkbox" class="toggle" <%= completed ? 'checked' : '' %>/>
	<span class="<%= completed ? 'completed' : '' %>">
		<%- title %>
	</span>
	<span class="delete">[x]</span>
</script>
<script type="text/javascript" src="assets/lib/underscore-min.js"></script>
<script type="text/javascript" src="assets/lib/jquery-2.0.2.min.js"></script>
<script type="text/javascript" src="assets/lib/backbone-min.js"></script>
<script type="text/javascript" src="assets/app.js"></script>

</body>
</html>